* {
  color: white;
  font-family: "inter-regular";
}

/* Modificaciones de Bootstrap */
/* Cambia los colores del texto y elimina el border del boton para el menu */
.navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255);
  --bs-navbar-hover-color: #2bb7f8;
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: #282828;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}

/* Cambia los colores del texto y el cuerpo del accordion */
.accordion {
  --bs-accordion-color: #ffffff;
  --bs-accordion-bg: #323131;
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #ffffff;
  --bs-accordion-btn-bg: #323131;
  --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-btn-focus-border-color: #ffffff;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #ffffff;
  --bs-accordion-active-bg: #5f5f5f;
  box-shadow: 5px 5px 10px 0 #242222;
}

/* fonts */
@font-face {
  font-family: "inter-regular";
  src: url(../resources/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "inter-extralight";
  src: url(../resources/fonts/Inter-ExtraLight.ttf);
}

/* Reutilizables */
.bgc-main {
  background-color: #282828;
}

.section {
  background-color: #282828;
  padding: 6%;
}

.article-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #323131;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0 #242222;
}

.article-title h3 {
  font-weight: bold;
  margin: 0;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323131;
  border-radius: 15px;
  padding: 10% 5%;
  flex-direction: column;
  box-shadow: 5px 5px 10px 0 #242222;
}

.product-box:hover {
  background-color: #171717;
  transition: 0.1s ease-in-out;
}

.product-box p {
  font-weight: bold;
  text-align: center;
  font-size: smaller;
}

.product-box img {
  width: 90%;
  border-radius: 15px;
  margin-bottom: 10%;
}

/* NavBar */
.navbar {
  box-shadow: 0 1px 10px 0 #181717;
}

.navbar-brand {
  width: 10%;
}

.desktop-logo {
  display: none;
}

/*--- nav media querys ---*/
@media (min-width: 575.98px) {
  .navbar-brand {
    width: 15%;
  }

  .desktop-logo {
    display: block;
  }

  .mobile-logo {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    width: 10%;
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar>.container,
  .navbar>.container-fluid,
  .navbar>.container-lg,
  .navbar>.container-md,
  .navbar>.container-sm,
  .navbar>.container-xl,
  .navbar>.container-xxl {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 1400px) {
  .navbar-brand {
    width: 6%;
  }
}

/*--- index.html ---*/
/* Hero Img */
.main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
}

.main-img-container h1 {
  text-align: center;
  font-weight: normal;
  font-family: "inter-extralight";
  margin-bottom: 5%;
  width: 80%;
}

.main-img-container .main-img-button {
  text-align: center;
}

.main-img-container .main-img-button a {
  text-decoration: none;
}

.desktop-main-img {
  display: none;
}

/* Section Trending Products */
.section-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-prod-box {
  margin-top: 10%;
}

/* Section Reviews */
.reviews-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #171717;
  height: 45vh;
}

.reviews-section .review-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  background-color: #323131;
  border-radius: 15px;
  flex-direction: column;
  text-align: center;
  box-shadow: 5px 5px 10px 0 #242222;
}

.reviews-section .review-box .profile-pic {
  width: 80px;
  border-radius: 100%;
}

.reviews-section .review-box .rating {
  width: 90px;
}

.reviews-section .review-box p {
  margin: 10px 20px;
}

.reviews-section .review-box .name {
  font-weight: bold;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 90%;
  height: 90%;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item {
  height: 90%;
}

.hidden-reviews {
  display: none;
}

/*--- index.html media querys ---*/
/* Hero img, H1 index.html */
@media (min-width: 637px) {
  .mobile-main-img {
    display: none;
  }

  .desktop-main-img {
    display: block;
  }

  .main-img-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .main-img-container h1 {
    text-align: start;
    width: 50%;
    margin: 0;
  }
}

@media (min-width: 831px) {
  .main-img-container h1 {
    width: 40%;
  }

  .main-img-container .main-img-button {
    width: 15%;
    height: 8%;
  }

  .main-img-container .main-img-button .btn {
    width: 100%;
    height: 100%;
    font-size: large;
  }
}

@media (min-width: 1345px) {
  .desktop-main-img {
    width: 100%;
  }

  .main-img-container h1 {
    width: 25%;
  }
}

@media (min-width: 1920px) {
  .main-img-container h1 {
    font-size: 350%;
  }
}

/* Trending Products Section */
@media (min-width: 426px) {
  .section-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.1fr);
    gap: 0 5%;
    grid-template-areas: "title title title"
      "product1 product2 product3";
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .article-title {
    grid-area: title;
  }

  .product-a {
    grid-area: product1;
  }

  .product-b {
    grid-area: product2;
  }

  .product-c {
    grid-area: product3;
  }
}

@media (min-width: 1024px) {
  .section-main {
    padding: 5% 15%;
  }
}

/* Reviews Section */
@media (min-width: 769px) {
  .carousel {
    display: none;
  }

  .hidden-reviews {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .reviews-section {
    height: auto;
    padding: 5%;
  }

  .reviews-section .review-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
    margin: 0;
  }

  .reviews-section .review-box p {
    margin: 0;
  }
}

@media (min-width: 1800px) {
  .reviews-section {
    padding: 5% 2%;
  }
}

/*--- store.html ---*/
.store-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
}

/* banner */
.mobile-banner {
  width: 100%;
}

.desktop-banner {
  width: 100%;
  display: none;
}

/*--- store.html media querys ---*/
@media (min-width: 426px) {
  .store-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 769px) {
  .store-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2% 10%;
  }
}

@media (min-width: 1024px) {
  .store-section {
    gap: 30px;
  }
}

@media (min-width: 1440px) {
  .store-section {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* banner */
@media (min-width: 637px) {
  .mobile-banner {
    display: none;
  }

  .desktop-banner {
    display: block;
  }
}

@media (min-width: 1024px) {
  .banner {
    padding: 1% 10% 1% 10%;
    background-color: #282828;
    display: flex;
    justify-content: center;
  }

  .desktop-banner {
    margin: 0;
    border-radius: 15px;
    box-shadow: 0 1px 10px 0 #181717;
  }
}

@media (min-width: 1440px) {
  .banner {
    padding: 1% 10% 1% 10%;
  }
}

/*--- faq.html ---*/
.faq-section {
  padding-top: 0;
  padding-bottom: 20%;
  min-height: 51vh;
}

.faq-section div {
  width: 100%;
}

.faq-title {
  padding-bottom: 50px;
}

/*--- about.html ---*/
.about-items {
  margin-top: 30px;
  background-color: #323131;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0 #242222;
  padding: 10px;
}

.about-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-items-container img {
  width: 120px;
  margin-right: 10px;
}

.about-items-container p {
  margin: 0;
  font-size: smaller;
}

.image-a {
  border-top-left-radius: 15px;
}

.image-c {
  border-bottom-left-radius: 15px;
}

.cont-a {
  border-bottom: 1px solid #3d3838;
}

.cont-c {
  border-top: 1px solid #3d3838;
}

.map {
  padding-top: 6%;
}

.map iframe {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0 #242222;
}

/*--- about.html media querys ---*/
@media (min-width: 1024px) {
  .about-items-container {
    justify-content: flex-start;
  }

  .about-items-container img {
    width: 200px;
    margin-right: 10%;
  }

  .about-items-container p {
    font-size: medium;
  }
}

@media (min-width: 2560px) {
  .about-items-container img {
    width: 350px;
    margin-right: 20%;
  }

  .about-items-container p {
    font-size: x-large;
  }
}

/*--- contact.html ---*/
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.contact-section form {
  width: 100%;
}

/*--- contact.html media querys ---*/
@media (min-width: 1024px) {
  .contact-section form {
    width: 50%;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 5% 0 0 0;
  flex-direction: column;
}

.footer img {
  width: 30%;
  margin-bottom: 5%;
}

.footer p {
  font-size: small;
  text-align: center;
}

.footer .socials {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.footer .socials img {
  width: 25px;
  text-decoration: none;
}

.footer .disclaimer {
  margin-top: 0;
  text-align: center;
  font-family: "inter-extralight";
  font-size: x-small;
}

/*--- footer media querys ---*/
@media (min-width: 575px) {
  .footer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "info logo copy"
      "info logo copy"
      ". socials .";
    justify-items: center;
  }

  .footer img {
    width: 150px;
  }

  .footer .information {
    grid-area: info;
  }

  .footer p {
    text-align: start;
  }

  .footer .disclaimer {
    width: 60%;
    grid-area: copy;
    text-align: end;
  }

  .footer-logo {
    grid-area: logo;
  }

  .socials {
    grid-area: socials;
  }
}