/*--- contact.html ---*/
.contact-section{
    @include flex-center;
    min-height: 48vh;
    form{
        width: 100%;
    }
}
.contact-title{
    @include flex-center;
}

/*--- contact.html media querys ---*/

@media (min-width: 1024px){
    .contact-section{
        form{
            width: 50%;
        }
    }
    .contact-title{
        article{
            width: 50%;
            
        }
    }
}