/* Footer */
.footer{
    @include flex-center;
    background-color: black;
    padding: 5% 0 0 0;
    flex-direction: column;
    a{
        width: 30%;
        margin-bottom: 5%;
    }
    p{
        font-size: small;
        text-align: center;
    }
    .socials{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
        a{
            @include flex-center;
        }
        img{
            width: 25px;
            text-decoration: none;
        }
    }
    .disclaimer{
        margin-top: 0;
        text-align: center;
        font-family: "inter-extralight";
        font-size: x-small;
    }
}

/*--- footer media querys ---*/

@media (min-width: 575px){
    .footer{
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
        "info logo copy"
        "info logo copy"
        ". socials .";
        justify-items: center;
        a{
            width: 150px;
        }
        .information{
            grid-area: info;
        }
        p{
            text-align: start;
        }
        .disclaimer{
            width: 60%;
            grid-area: copy;
            text-align: end;
        }
    }
    .footer-logo{
        grid-area: logo;
    }
    .socials{
        grid-area: socials;
    }
}