/* fonts */
@font-face {
    font-family: "inter-regular";
    src: url(../resources/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: "inter-extralight";
    src: url(../resources/fonts/Inter-ExtraLight.ttf);
}